---
import Section from "./Section.astro";
---

<Section
  title="Disfrute de tesla"
  subtitle="Programe una prueba de conducción hoy mismo!!"
  color="white"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors duration-300 cursor-pointer"
      href="#">Prueba de conducción</a
    >
  </div>
  <video
    slot="background"
    autoplay
    muted
    loop
    class="absolute top-0 left-0 w-full h-full object-cover"
  >
    <source src="video.webm" type="video/mp4" />
  </video>
</Section>
